<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Sign up
        </h3>
      </div>
      <div class="panel-body">
<%= form_for(resource, html: { class: "sign-form" }, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if flash[:alert] or devise_error_messages!.size > 0 %>
    <div class="alert alert-danger">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[:alert] %>
      <%= devise_error_messages! %>
    </div>
  <% end %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>
 
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

 <div class="captcha">
  <%= recaptcha_tags public_key: YAML.load_file('config/recaptcha.yml')['public_key']  %>
  </div>

 <div class="captcha">
    <%= check_box_tag :agree_terms %>
    I agree with <%= link_to "Terms of Service", terms_of_service_path %>
  </div>

  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>


<% end %>

      </div>
    </div>

