= stylesheet_link_tag 'comments'
= javascript_include_tag "comments"

/ this params used for ajax request
.comments-content{ namespace_object_class: namespace_object.class, namespace_object_id: namespace_object.id }
  = render 'comments/new_comment_form', namespace_object: namespace_object
  .comments
    /= render 'comments/comments_show', comments: comments