
- if current_account
  
  / include tinymce library
  
  .new-comment
    = form_for Comment.new, remote: true do | form |
      .errors.alert.alert-warning

      = form.hidden_field :namespace_object_class, value: namespace_object.class
      = form.hidden_field :namespace_object_id, value: namespace_object.id
      .account-name
        = current_account.login
      = form.text_area :comment, placeholder: "Input Your message", class: "form-control tinymce"
      = form.submit "Save", class: "btn btn-primary submit"

