- if @result[:result]
  $('.new-comment').removeClass("has-error");
  tinymce.get('comment_comment').setContent(''); 
  $('.comments').html('#{ escape_javascript(render( 'comments/comments_show', comments: @comments )) }');

  = add_gritter("Comment has been created!", title: "Thanks!")
  
  $(".comment:first").css({"border": "5px solid #f37736"}).animate({borderWidth: '0px'}, 500);
  $('.new-comment .errors').hide();
- else
  $('.new-comment .errors').show();
  $('.new-comment .errors').html('#{@result[:comment].errors.full_messages[0]}');
