<div><%= f.label :experience %>(Years)<br />
  <%= f.text_field :experience, class: "form-control" %></div>


<%= f.label :price %><br />
<div class="input-group">
  <span class="input-group-addon">$</span>
  <%= f.text_field :price, class: "form-control", style: "width: 36.5%;" %>
</div>

<div class="set-tags">
	<label for="save_profile_price">Your skills</label>
	<div class="side-by-side clearfix">
       	<div>
	       	<%= select_tag "save_profile[tags]", options_from_collection_for_select(Tag.all, "id", "name"), class: "chosen-select form-control", placeholder: "Choose tags", multiple: true %>
       	</div>
    </div>
</div>
