<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <div class="location">
    <h3 class="panel-title">
      Where are you from?
        </h3>
      </div>
    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <div id="map-canvas"></div>
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Set Your Profile
        </h3>
      </div>
      <div class="panel-body">
<%= form_for(:save_profile, html: { class: "sign-form" }) do |f| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control" %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %></div>

  <div><%= f.label :sex %><br />
    <%= f.select :sex, ['Male', 'Female'], {}, class: "form-control" %></div>

  <div><%= f.label :age %><br />
    <%= f.text_field :age, class: "form-control" %></div>

  <div><%= f.label :phone_number %><br />
    <div class="input-group">
      <span class="input-group-addon">+</span>
      <%= f.text_field :phone_number, class: "form-control", style: "width: 36.5%" %>
    </div>
  </div>

  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :width %>

  <div><%= f.label :skype %><br />
    <%= f.text_field :skype, class: "form-control" %></div>


  <%= render "set_profile_#{current_account.role}" , f: f %>


<div class="set-tags">
    <div><%= f.label :description, "About You" %><br />
    <%= f.text_area :description, class: "form-control", style: "width: 100%;" %></div>  
</div>
</div>

  <div><%= f.submit "Save", class: "btn btn-primary" %></div>


<% end %>

      </div>
    </div>


































  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

