<div class="choose-how-are">
	<%= link_to "I am a teacher", set_role_path( role: "teacher"), class: "btn btn-primary btn-lg btn-block", method: :post %>
	<%= link_to "I am a student", set_role_path( role: "student"), class: "btn btn-info btn-lg btn-block" %>
</div>