.blog_post
  .image-div
    = image_tag post.avatar.url(:thumb), class: "avatar"
  
  .description
    %h2.title
      = post.title
    
    .content
      = post.description
    .created-at
      Time: 
      = post.created_at.strftime("%k:%m %d:%M%Y")

    = render 'votes/show', namespace_object: post
    .comments
      Comments:
      = post.comments.size
    = link_to "View post", blog_path(post.title), class: "btn btn-success"
