.blog_post
  
  %h2.title
    = @post.title
  
  = image_tag @post.avatar.url(:original), class: "avatar"

  .content
    = @post.description

  = render 'votes/show', namespace_object: @post

  = render 'comments/comments', namespace_object: @post, comments: @post_comments