.active-scaffold {
	
	width: 90%;
	margin: auto;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;

	.new {
		font-size: 20px;
		color: black;
		background-color: white;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
	}

	.new:hover {
		text-decoration: none;
		color: red;
		border: 1px solid red;
	}

	.active-scaffold-header h2 {
		color: green;

	}

	th a{
		color: green;
		padding: 10px;
	}

	td {
		padding: 10px;
	}

}