/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require active_scaffold
 *= require bootstrap.min
 *= require gritter
 */

.navbar
{
	position: relative !important;
	height: 10% !important;
	border-radius: 0px !important;
	padding-left: 15% !important;
	padding-right: 5% !important;
	padding-top: 1.6% !important;
	background-color: white !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	font-size: 1.5em;
}

.container-fluid
{
	width: 80%;
	left: 10%;
	bottom: 5%;
	position: absolute !important;
}

.active a
{
	color: black;
	font-size: 1.8em;
	background-color: transparent !important;
}

.navbar-nav
{
	margin-left: 15% !important;
}


.logo
{
	margin-top:10% !important;
	margin-left:-10% !important;
	margin-right:25% !important;
}

html,
body {
	margin:0px;
	padding:0px;
	height:100%;
	background-color: #ADD8E6 !important;
}

.btn
{
	border-radius: 0px !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

#footer
{
	width:100%;
/*	position:absolute;*/
	bottom:-3%;
	left:0;
	text-align: center;
	border-radius: 0px !important;	
	height: 6em;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.red
{
	color: red;
}


.paginator {
	width: 100%;
	text-align: center;
}

.form-control {
	border-radius: 0px !important;
}