.blog_post {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color:white;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  margin-bottom: 10px;

  .avatar {
    border-radius: 10px;
  }

  .description, .image-div {
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 4px 8px;
  }

  .created-at {
    font-size: 20px;
  }
}