// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-content {
	width: 60%;
	margin:auto;
}

.new_comment {
	
	padding: 20px;
	background-color: lightgray;

	.account-name {
	  font-weight:900;
	}

	#comment_comment {
	  width: 100%;
	}

	.submit {
	margin: 0 auto;
	 margin-top: 10px;
	}
}

.comment {
	border-bottom: 1px dashed gray;
}

.errors {
	color:red;
	display: none;
	border-radius: 0px;
}