.location
{
  background-color: #428bca;
  width: 40%;
  margin-left: 15%;
  padding: 10px 15px;  
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  border-color: #428bca;
}

.location h3
{
  font-size: 25px;
  color: white;
}
#map-canvas {
        height: 40%;
        margin: 0px;
        padding: 0px;
        width: 40%;
        margin-left: 15%;
          box-shadow: 0 0 10px rgba(0,0,0,0.5); 
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
}
