.panel
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	margin-left: 15%;
	width: 40%;
	border-radius: 0px !important;
	border: none !important;
}


.panel-heading h3
{
	font-size: 25px;
}

.panel form
{
	padding: 7%;
}

.sign-form .form-control
{
	width: 40%;
}

.captcha
{
	padding-top: 2%;
	padding-bottom: 2%;
}