.choose-how-are
{
	margin-top: 5%;
	width: 50%;
	margin-left: 25%;
}

.choose-how-are a
{
	margin: 2%;
	font-size: 3em;
}

.panel
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	margin-left: 15%;
	width: 40%;
	border-radius: 0px !important;
	border: none !important;
}


.panel-heading h3
{
	font-size: 25px;
}

.panel form
{
	padding: 7%;
}

.sign-form .form-control
{
	width: 40%;
}


.chosen-container
{
	width: 100% !important;
}

.chosen-choices
{
	min-height: 5em !important;
	border: 1px solid #ccc !important;
	background-image: none !important;
}

.search-choice
{
	border-radius: 0px !important;
	padding: 7px 20px 7px 7px !important;
}

.search-choice-close
{
	top:8px !important;
	background-position: -42px -10px !important;
}

.set-tags
{
	margin-top: 6%;
}

.set-tags label
{
	width: 100%;
	padding: 1.5%;
	background-color: #428bca;
	color: white;
	margin-bottom: 0px !important;
}


.set-tags textarea
{
	border-radius: 0px !important;
}
