- if current_account && !current_account.voted_for?(namespace_object)
    = link_to "Like", votes_path( vote: { namespace_object_class: namespace_object.class, namespace_object_id: namespace_object.id, vote: "like" }), method: :post, remote: true
    = link_to "Dislike", votes_path( vote: { namespace_object_class: namespace_object.class, namespace_object_id: namespace_object.id, vote: "bad" }), method: :post, remote: true