<!DOCTYPE html>
<html>
	<head>
  	<title>OnlineTutor</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
	</head>
	<body>
		
		<nav class="navbar navbar-default" role="navigation">
  	
    		<div class="navbar-header">
			      
			    <a class="navbar-brand" href="#" class="logo navbar-left">Logo</a>
			    
			  </div>	
			  
  			<div class="container-fluid">
    

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
			      <ul class="nav navbar-nav">
			        <li><a href="#">Registration</a></li>
			        <li class="active"><a href="#">Blog</a></li>
			        <li><a href="#">How to use?</a></li>
			      </ul>

			      <ul class="nav navbar-nav navbar-right">
					<% if account_signed_in? %>
					<% else %> 
	        			<li>
	        				<%= link_to "Sign in",  new_account_session_path %>
	        			</li>
					<% end %>       
        		</ul>	
      
    			</div>

  		</div>

		</nav>
















	    <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
<%= yield %>















































<div id="footer" class="well">
	2014 - RubyDevelopment
</div> 






</body>
</html>
