!!!
%html
  %head
    %title OnlineTutor
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = stylesheet_link_tag params[:controller].gsub("/", "_")
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %a.navbar-brand{href: "#"} Logo
      .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "#"} Registration
            %li.active
              %a{href: "#"} Blog
            %li
              %a{href: "#"} How to use?
          %ul.nav.navbar-nav.navbar-right
            - if account_signed_in?
            - else
              %li
                = link_to "Sign in",  new_account_session_path
    %p.notice= notice
    %p.alert= alert
    = yield